
<div class="yelp-reviews">
	<div id='yelpwidget'></div> 

	<div class="yelp-button">
		<div class="yelp_btn">
			<a href="http://www.yelp.com/biz/happy-puppy-dog-training-los-angeles-2"> 
			<%= image_tag "yelp-logo-small.png" %>
				<p>  reviews</p>
			
			</a>
		</div>
	</div>

</div>

