<div class="yelp-reviews">
	<h4 class="yelp-account">Rohan J.</h4>
	
	<a href="http://www.yelp.com/biz/happy-puppy-dog-training-los-angeles-2" class="review-text">
	"Eric was recommended to me by my vet. Initially, I was a little apprehensive because there aren't a lot of yelp reviews. But Eric has been a life-saver..."
	</a>
</div>



<div class="yelp-button">
	<div class="yelp_btn">
		<a href="http://www.yelp.com/biz/happy-puppy-dog-training-los-angeles-2"> 
		<%= image_tag "yelp-logo-small.png" %>
		<p>  reviews</p>
		
	</a>
	</div>
</div>