
<h2> vet-recommended</h2>
	<div class="slideshow">
		<div class="box">
		 
			<h4> Petsadena Animal Hospital</h4>
			<p>959 Raymond Ave., Pasadena, CA 91105 <br>
			Phone: (626) 441-1137 </p>
			<button class="buttonsmall">SEE MORE</button>
		
		</div>

		<div class="box">
			<h4> Laurel Pet Hospital</h4>
			<p>7970 Santa Monica Blvd 
			W. Hollywood, California 90046 United States <br>
			Phone: (323)654-7060 </p>
			<button class="buttonsmall">SEE MORE</button>
		
		</div>
		<div class="box">
			<h4> Laurel Pet Hospital 2</h4>
			<p>959 Raymond Ave., Pasadena, CA 91105 <br>
			Phone: (626) 441-1137, Fax: (626) 441-0294</p>
			<button class="buttonsmall">SEE MORE</button>
		
		</div>
	</div>
	
		
