<section class="module parallax parallax-1">
	<div class="container-fluid">
		<!-- <h1> Happy Puppy</h1> -->
	</div>
</section>
<section class="module content">
	<div class="container-fluid">
		<div class="row middle">
			<div class="mobile-background">
			<div class="empty-div"></div>
			<%=image_tag('archie1.JPG', :class=>"mobile-bgone")%>
			</div>
			<div class="description mission col-sm-12 col-md-7">
				<h2>our mission</h2>
				<p>Privide Positive reinforcement training, building the relationship you AND your dog have always wanted. Nothing makes us happier than to see our clients interact with their dog, especially a dog that is obedient, loyal, and most importantly a ‘Happy Puppy’.</p>
				<button class="buttonsmall">SERVICE OPTIONS</button>
			</div> 

			<span class="space"></span>

			<div class="description vet-recommend col-sm-12 col-md-5">
				<%= render "welcome/vets" %>

			</div>
		</div> <!-- close row -->
	<div> <!-- close container-fluid -->

		
</section>

<section class="module parallax parallax-2">
	<div class="container-fluid">
		<h1> Happy Training. Positive reinforcement.<h1>
	</div>
	
</section>
<section class="module content footer-background">
	<div class="container-fluid footer">
		<div class="row">
			<div class="brand col-sm-12 col-md-4">
				<div class="footer-brand">
				<%=image_tag("happy-puppy.png", :class=>"footer-brand")%>
				<p>relationship builder & positive reinforcement.</p>
				</div>
				<div class="footer-bottom" >
	  				<ul class="icons" >
					    <a href="https://www.instagram.com/happypuppy_dogtraining/" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>

					      <a href="https://www.facebook.com/HappyPuppyDogTraining/?fref=ts" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
					      
					       <a href="http://www.yelp.com/biz/happy-puppy-dog-training-los-angeles-2" target="_blank"><i class="fa fa-yelp fa-2x"></i></a>
				  	</ul>
				</div>
		
				
			</div> <!-- close container -->
			<div class="social-tweets col-sm-12 col-md-4">
				
			</div>
			<div class="live-pics col-sm-12 col-md-4">
				<p> right</p>
			</div>

		</div> <!-- close row -->
	</div>
</section>







