<div class="parallax-layer parallax-layer--base">
		<div class="home-nav"></div>
</div>


<div class="container parallax-layer parallax-layer--back">


	<section class="mid-background">
	<div class="mission col-md-8">

		<h2 id="mission">OUR MISSION</h2>

		<p class="bodytexts"> Privide Positive reinforcement training, building the relationship you AND your dog have always wanted. Nothing makes us happier than to see our clients interact with their dog, especially a dog that is obedient, loyal, and most importantly a ‘Happy Puppy’.</p>

		<button class="buttonsmall">SERVICE OPTIONS</button>

	</div> <!-- close mission -->

	<div class="vet-recommend col-md-4">
		<h2> VET-RECOMMENDED</h2>
		<h4> Petsadena Animal Hospital</h4>
		<p>959 Raymond Ave., Pasadena, CA 91105</p>
		<p>Phone: (626) 441-1137, Fax: (626) 441-0294</p>
		<button class="buttonsmall">SEE MORE</button>
	</div>
	</section>




</div> <!-- close container -->
