<section class="module parallax parallax-1">
	<div class="container">
		<!-- <h1> Happy Puppy</h1> -->
	</div>
</section>
<section class="module content">
	<div class="container">
		<div class="description mission col-md-8">
			<h2>our mission</h2>
			<p>Privide Positive reinforcement training, building the relationship you AND your dog have always wanted. Nothing makes us happier than to see our clients interact with their dog, especially a dog that is obedient, loyal, and most importantly a ‘Happy Puppy’.</p>
			<button class="buttonsmall">SERVICE OPTIONS</button>
		</div>
		<div class="description vet-recommend col-md-4">
			<h2> vet-recommended</h2>
			<h4> Petsadena Animal Hospital</h4>
			<p>959 Raymond Ave., Pasadena, CA 91105 <br>
			Phone: (626) 441-1137, Fax: (626) 441-0294</p>
		<button class="buttonsmall">SEE MORE</button>
	</div>
		
</section>

<section class="module parallax parallax-2">
	<div class="container">
		<h1> Happy Training. Positive reinforcement.<h1>
	</div>
	
</section>
<section class="module content footer-background">
	<div class="container footer">
		<div class="brand col-md-4">
			<div class="footer-brand">
			<%=image_tag("happy-puppy.png", :class=>"footer-brand")%>
			<p>relationship builder & positive reinforcement.</p>
			</div>
			<div class="footer-bottom" >
  				<ul class="icons" >
				    <a href="https://www.instagram.com/happypuppy_dogtraining/" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>

				      <a href="https://www.facebook.com/HappyPuppyDogTraining/?fref=ts" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
				      
				       <a href="http://www.yelp.com/biz/happy-puppy-dog-training-los-angeles-2" target="_blank"><i class="fa fa-yelp fa-2x"></i></a>
			  	</ul>
			</div>
			
			
			
		</div>
		<div class="social-tweets col-md-4">
			<p> middle</p>
		</div>
		<div class="live-pics col-md-4">
			<p> right</p>
		</div>


	</div>
</section>







