<section class="module parallax parallax-1">
	<div class="container">
		<h1> Happy Puppy</h1>
	</div>
</section>
<section class="module content">
	<div class="container">
		<div class="description mission col-md-8">
			<h2>our mission</h2>
			<p>Privide Positive reinforcement training, building the relationship you AND your dog have always wanted. Nothing makes us happier than to see our clients interact with their dog, especially a dog that is obedient, loyal, and most importantly a ‘Happy Puppy’.</p>
			<button class="buttonsmall">SERVICE OPTIONS</button>
		</div>
		<div class="description vet-recommend col-md-4">
			<h2> vet-recommended</h2>
			<h4> Petsadena Animal Hospital</h4>
			<p>959 Raymond Ave., Pasadena, CA 91105</p>
			<p>Phone: (626) 441-1137, Fax: (626) 441-0294</p>
		<button class="buttonsmall">SEE MORE</button>
	</div>
		
</section>

<section class="module parallax parallax-2">
	<div class="container">
		<h1> Training<h1>
	</div>
	
</section>
<section class="module content">
	<div class="container">
	<div class="band col-md-4">
		<a><%= image_tag("happypupy.png", :alt => "rss feed", :class=>"brandword") %></a>
		<p>Various packages custom built to fit your specific needs</p>
		<p>Experienced trainers</p>
		<p>Services provided all around the Los Angeles area</p>
	</div>
	<div class="social-tweets col-md-4">
		<h4> middle</h4>
	</div>
	<div class="live-pics col-md-4">
		<h4> right</h4>
	</div>
	</div>
</section>







