<section class="module parallax parallax-1">
	<div class="container-fluid">
		<!-- <h1> Happy Puppy</h1> -->
	</div>
</section>
<section class="module content">
	<div class="container-fluid">
		<div class="row middle">
			<div class="mobile-background">
			<div class="empty-div"></div>
			<%=image_tag('archie1.JPG', :class=>"mobile-bgone")%>
			</div>
			<div class="description mission col-sm-12 col-md-7">
				<h2>our mission</h2>
				<p>Privide Positive reinforcement training, building the relationship you AND your dog have always wanted. Nothing makes us happier than to see our clients interact with their dog, especially a dog that is obedient, loyal, and most importantly a ‘Happy Puppy’.</p>
				<button class="buttonsmall">SERVICE OPTIONS</button>
			</div> 

			<span class="space"></span>

			<div class="description vet-recommend col-sm-12 col-md-5">
				<%= render "welcome/vets" %>

			</div>
		</div> <!-- close row -->
	<div> <!-- close container-fluid -->

		
</section>

<section class="module parallax parallax-2">
	<div class="container-fluid">
	</div>
	
</section>
<section class="module content footer-background">
	<%= render "welcome/footer" %>
</section>







