<div class="container parallax-layer parallax-layer--back">
	<div class="mission col-md-6">

		<h1 id="mission">OUR MISSION</h1>

		<p class="bodytexts"> Privide Positive reinforcement training, building the relationship you AND your dog have always wanted. Nothing makes us happier than to see our clients interact with their dog, especially a dog that is obedient, loyal, and most importantly a ‘Happy Puppy’.</p>

		<button class="buttonsmall">SERVICE OPTIONS</button>

	</div> <!-- close mission -->

	<div class="vet-recommend col-md-6">
		<p> Our facility is recommended by several vet </p>
		<button class="buttonsmall">FIND OUT</button>
	</div>



</div> <!-- close container -->
