<div class="mission">

<h1 id="mission">OUR MISSION</h1>

<p class="bodytexts"> Privide Positive reinforcement training, building the relationship you AND your dog have always wanted. Nothing makes us happier than to see our clients interact with their dog, especially a dog that is obedient, loyal, and most importantly a ‘Happy Puppy’.</p>

<button class="buttonsmall">SERVICE OPTIONS</button>

</div>
