/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";




body {
	display: block;
}


/*for  phone size*/
@media screen and (min-width : 320px) and (max-width : 768px){

/*nav*/
	ul.nav.navbar-nav {
		width: 80%;
		text-align: center;
		margin-left: 20%;
		font-size: 12px;

	}
	.home-nav {
		background: url("kushicropped.jpg") no-repeat fixed;
		max-width: 100%;
		height: 680px;
		background-size: cover;
	}
	/*nav-bar menu background to black*/
	.navbar-inverse {
		background-color: black;
		border-bottom: none;
	}

	/*remove word logo from the dropbox menu*/
	.brandword {
		display: none;
		max-width: 40%;
		height: 50px;
		background-image: url("happypupp.png");
		background-size: cover;
	}

}

/*for tablet size*/

/*nav*/
 @media screen and (min-device-width: 768px) {
 	
 	ul.nav.navbar-nav {
		width: 100%;
		text-align: center;
		margin-left: 20%;
		font-size: 12px;

	}
	.home-nav {
		background: url("kushicropped.jpg") no-repeat fixed;
		max-width: 100%;
		height: 680px;
		background-size: cover;
	}
	/*remove word logo from the dropbox menu*/
	.brandword {
		max-width: 40%;
		height: 50px;
		background-image: url("happypupp.png");
		background-size: cover;
	}
	/*nav-bar menu background to black*/
	.navbar-inverse {
		background-color: transparent;
		border-bottom: none;
	}

	.navbar-inverse .navbar-nav > li > a {
		color: #2B2B2B;
		font-size: 12px;
		text-align: center;
	}
 }



 /*laptop and desktop*/
 /*nav===========================================*/
    @media screen and (min-width : 1024px) {

    	/*navigation tabs*/
    
    	ul.nav.navbar-nav {
		width: 80%;
		text-align: center;
		margin-left: 23%;
		font-size: 12px;

	}


	.navbar-inverse {
		background-color: transparent;
		border-bottom: none;
		display: fixed;
	}

	.navbar-inverse .navbar-nav > li > a {
		color: #2B2B2B;
		font-size: 12px;
		text-align: center;
	}


	.brandword {
		width: 200px;
		height: 50px;
		background-size: cover;
	}

	
	/*home page=================================*/

	/*==============primary structure==============*/
	.container {
		max-width: 100%;
		margin: 0 auto;
	}

	/*=================sections=================*/
	/*to elimate the bottom space*/
	section.module:last-child {
		margin-bottom: 0;
	}

	section.module h2 {
		margin-bottom: 40px;
		font-family: serif;
		font-size: 30px;
	}

	section.module p {
		margin-bottom: 40px;
		font-size: 16px;
		font-weight: 300;
	}

	button.buttonsmall {
		text-align: center;
		background-color: #660099;
		margin-top: 5%;
		width: 150px;
		height: 50px;
		font-family: Lato,sans-serif;
		border: none;
		color: white;
	}

	section.module p:last-child {
		margin-bottom: 0;
	}

	section.module.content {
		padding: 40px 0;
	}

	section.module.parallax {
		height: 680px;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
	}

	section.module.parallax-1 h1 {
		color: white;
		font-size: 48px;
		line-height: 600px;
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
	}

	section.module.parallax-2 h1 {
		color: white;
		font-size: 25px;
		line-height: 900px;
		font-weight: 700;
		text-align: 1;
		text-transform: uppercase;
	}



	section.module.parallax-1 {
		background-image: url("kushi1.jpg");
	}

	section.module.parallax-2 {
		background-image: url("kushi.jpg");
	
	}

	/*================div======================*/

	div.mission {
		width: 60%;
	}

	div.vet-recommended {
		width: 40%;
	}

	div.description h2 {
		color: black;
		font-size: 25px;
		font-weight: 400;
		text-align: center;
		text-transform: uppercase;

	}

	div.footer {
		width: 100%;
		height: 250px;
		background-color: white;

	
	}

	.brand, .social-tweets {
		border-right: solid 1px grey;
		height: 300px;	
		text-align: center;
		text-transform: capitalize;
	
	}


	.brand h1 {
			
		font-family: 'Schoolbell', cursive;
		font-size: 50px;
		text-shadow: 1px 1px 1px grey;

	}

	.footer-brand {
		height: 100px;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
	}



    }





