<div class="footer container">
	<div class="band col-md-4">
		<a><%= image_tag("happypupy.png", :alt => "rss feed", :class=>"brandword") %></a>
		<p>Various packages custom built to fit your specific needs</p>
		<p>Experienced trainers</p>
		<p>Services provided all around the Los Angeles area</p>
	</div>
	<div class="social-tweets col-md-4">
		<h4> middle</h4>
	</div>
	<div class="live-pics col-md-4">
		<h4> right</h4>
	</div>

</div>

	
