<div class="footer container">
	<div class="band col-md-4">
		<h4>Left</h4>
	</div>
	<div class="social-tweets col-md-4">
		<h4> middle</h4>
	</div>
	<div class="live-pics col-md-4">
		<h4> right</h4>
	</div>

</div>

	
