<div class="container nav-bar"> 
	<div class="row">
	<h6>HOME</h6>
	<h6>SERVICES</h6>
	<h6>OUR TEAM</h6>
	<h6>RECOMMENDED</h6>
	<h6>FOLLOW US</h6>
	<h6>CONTACT</h6>


	</div><!-- close class=row -->
</div><!-- close class=nav-bar-->